*,
*:before,
after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "PT Sans, sans-serif";
}

body.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  color: #4c4c4c;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

.wrapper {
  width: 100%;
}

@media (min-width: 320px) {
  body.lock {
    overflow: hidden;
    -ms-touch-action: none;
        touch-action: none;
  }
  .container {
    min-width: 300px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
  }
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
  }
  .header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a3235;
    z-index: 2;
  }
  .header__body {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__burger-catalog-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
  }
  .header__burger-catalog-text {
    margin: 0px 0px 0px 10px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22.5px;
    color: #fff;
  }
  .header__burger-catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 20px;
    height: 20px;
    z-index: 3;
  }
  .header__burger-catalog span::after,
  .header__burger-catalog span::before {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    background: #fff;
  }
  .header__burger-catalog span::before {
    content: "";
    display: block;
    position: relative;
    bottom: 5px;
    left: 0;
  }
  .header__burger-catalog span {
    display: block;
    height: 1px;
    width: 100%;
    background: #fff;
  }
  .header__burger-catalog span::after {
    content: "";
    display: block;
    position: relative;
    top: 4px;
    left: 0;
  }
  .header__catalog {
    display: block;
    position: absolute;
    top: 0px;
    left: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: -9px 5px 32px -7px rgba(0, 0, 0, 0.71);
            box-shadow: -9px 5px 32px -7px rgba(0, 0, 0, 0.71);
    border-radius: 5px;
    background: #fff;
  }
  .header__catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px 0px 0px 25px;
    list-style: url("../image/header/bullet.png");
  }
  .header__catalog-list li {
    padding: 10px 0px 10px 0px;
  }
  .header__catalog-list li:last-child {
    padding: 0px 0px 100px 0px;
  }
  .header__catalog-btn {
    margin: 15px 0px 10px 0px;
    width: calc(100% - 40px);
    background: #ed1a3c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 3px;
  }
  .header__catalog-btn a {
    color: #fff;
    text-align: center;
  }
  .header__catalog-link {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 22.5px;
    color: #4b5c63;
  }
  .header__burger-catalog.active span::after {
    content: "";
    display: block;
    position: relative;
    top: -1px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__burger-catalog.active span {
    display: block;
    height: 0;
  }
  .header__burger-catalog.active span::before {
    content: "";
    display: block;
    position: relative;
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header__catalog.active {
    padding: 0px 0px 0px 0px;
    display: block;
    position: fixed;
    top: 40px;
    left: 0;
    width: 70%;
    height: 100%;
    overflow: auto;
    z-index: 3;
  }
  .header__time {
    display: none;
  }
  .header__email {
    margin: 0px 10px 0px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
  }
  .header__email a {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22.5px;
    color: #ed1a3c;
  }
  .header__search {
    margin: 0px 10px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 3;
  }
  .header__search img {
    display: block;
    height: 16px;
    width: 16px;
  }
  .header__search-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: -1000px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .header__search-block.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 40px;
    left: 0;
    height: 40px;
    width: 100%;
    background: #2a3235;
    z-index: 3;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .header__search-form {
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .header__search-form.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
  }
  .header__search-form input {
    margin: 0px 0px 0px 0px;
    padding: 6px 10px 6px 50px;
    background: url("/image/header/icon-search.png") 16px center no-repeat;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    width: calc(100% - 20px);
  }
  .header__burger-menu-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
  }
  .header__burger-menu-text {
    margin: 0px 10px 0px 0px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22.5px;
    color: #fff;
  }
  .header__burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 20px;
    height: 20px;
    z-index: 3;
  }
  .header__burger-menu span::after,
  .header__burger-menu span::before {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    background: #fff;
  }
  .header__burger-menu span::before {
    content: "";
    display: block;
    position: relative;
    bottom: 5px;
    left: 0;
  }
  .header__burger-menu span {
    display: block;
    height: 1px;
    width: 100%;
    background: #fff;
  }
  .header__burger-menu span::after {
    content: "";
    display: block;
    position: relative;
    top: 4px;
    left: 0;
  }
  .header__burger-menu.active span::after {
    content: "";
    display: block;
    position: relative;
    top: -1px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .header__burger-menu.active span {
    display: block;
    height: 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .header__burger-menu.active span::before {
    content: "";
    display: block;
    position: relative;
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .header__menu {
    display: block;
    position: fixed;
    top: 0px;
    right: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: -9px 5px 32px -7px rgba(0, 0, 0, 0.71);
            box-shadow: -9px 5px 32px -7px rgba(0, 0, 0, 0.71);
    border-radius: 5px;
    background: #fff;
  }
  .header__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__menu-list li {
    list-style: url("../image/header/bullet.png");
    padding: 10px 0px 10px 0px;
  }
  .header__menu-link {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 22.5px;
    color: #4b5c63;
  }
  .header__menu.active {
    padding: 0px 0px 0px 40px;
    display: block;
    position: fixed;
    top: 40px;
    right: 0;
    width: 70%;
    height: 100%;
    overflow: auto;
    z-index: 3;
  }
  .topline {
    padding: 0px 10px 0px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: 40px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #edf1f2;
  }
  .topline__city::after {
    content: url("/image/header/icon-arrow-down.png");
    padding: 0px 0px 0px 10px;
    width: 12px;
    height: 8px;
  }
  .topline__city a {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.5px;
    color: #000;
  }
  .topline__cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .topline__cart-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .topline__cart-img img {
    display: block;
    width: 26px;
    height: auto;
  }
  .topline__cart-img span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 20px;
    height: 20px;
    top: 4px;
    right: 10px;
    background: #ed1a3b;
    border-radius: 50%;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    color: #fff;
  }
  .topline__cart__sum span {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 19.5px;
    color: #000;
  }
  .section1 {
    margin: 60px 0px 0px 0px;
  }
  .section1__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section1__logo {
    margin: 0px auto;
    max-width: 240px;
  }
  .section1__logo img {
    display: block;
    width: 100%;
  }
  .section1__phone-red {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 0px 10px 0px;
  }
  .section1__phone-red span::before {
    content: url("/image/header/icon-phone-red.png");
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 10px 0px 0px;
  }
  .section1__phone-red span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22.5px;
    color: #ed1a3c;
  }
  .section1__phone-black {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0px 10px 0px;
  }
  .section1__phone-black span::before {
    content: url("/image/header/icon-phone.png");
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 10px 0px 0px;
  }
  .section1__phone-black span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22.5px;
    color: #000;
  }
  .section1__whatsapp {
    display: none;
  }
  .section1__callback {
    display: none;
  }
  .section1__item {
    margin: 0px 0px 20px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-bottom: 1px solid #ed1a3c;
  }
  .section1__price::before {
    content: url("/image/header/icon-rub.png");
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 10px 0px 0px;
  }
  .section1__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section1__price a {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.5px;
    color: #4c4c4c;
  }
  .section1__calc::before {
    content: url("/image/header/icon-calc.png");
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 10px 0px 0px;
  }
  .section1__calc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section1__calc a {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.5px;
    color: #4c4c4c;
  }
  .content {
    padding: 0px 10px 0px 10px;
  }
  .content_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content__title h1 {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
  }
  .content__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    margin: 0px 0px 10px 0px;
    padding: 10px 10px 10px 10px;
    height: auto;
    border: 1px solid #cdcdcd;
  }
  .content__item-title {
    margin: 0px 0px 0px 0px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 22.5px;
    letter-spacing: 0.3;
    color: #ed1a3c;
    text-transform: uppercase;
  }
  .content__item-list {
    margin: 0px 0px 0px 20px;
  }
  .content__item-list li::marker {
    color: #ed1a3c;
  }
  .content__item-list li {
    list-style: square;
    padding: 0px 0px 5px 0px;
  }
  .content__item-link {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22.4px;
    color: #4c4c4c;
  }
}

@media (min-width: 425px) {
  .container {
    min-width: 425px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
  }
  .header__time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
  }
  .header__time span:first-child {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 22.5px;
    color: #fff;
  }
  .header__time span:last-child {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22.5px;
    color: #fff;
  }
  .content_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content__item {
    max-width: calc(49% - 10px);
    margin: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    height: auto;
    border: 1px solid #cdcdcd;
  }
}

@media (min-width: 460px) {
  .container {
    min-width: 460px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
  }
  .section1__content-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section1__content-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49.99%;
            flex: 0 0 49.99%;
  }
  .section1__phone-black {
    margin: 10px 0px 10px 0px;
  }
  .section1__price {
    margin: 10px 0px 10px 0px;
  }
  .section1__whatsapp::before {
    content: url("/image/header/icons8-whatsapp.svg");
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 10px 0px 0px;
    width: 20px;
    height: 20px;
  }
  .section1__whatsapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section1__whatsapp a {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 22.5px;
    color: #4caf50;
  }
  .section1__callback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section1__callback a {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.5px;
    color: #4c4c4c;
    text-decoration: underline;
  }
}

@media (min-width: 800px) {
  .container {
    min-width: 800px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
  }
  .section1 {
    border-bottom: 1px solid #ed1a3c;
  }
  .section1__content-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section1__content-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24.999%;
            flex: 0 0 24.999%;
  }
  .section1__content-col:first-child {
    margin: 0px 10px 0px 0px;
  }
  .section1__phone-red, .section1__phone-black {
    margin: 0px 0px 8px 0px;
  }
}
