*,
*:before,
after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "PT Sans, sans-serif";
}

body.lock {
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

.wrapper {
  width: 100%;
}

@media (min-width: 320px) {
  body.lock {
    position: relative;
    overflow: hidden;
  }
  .container {
    max-width: 320px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
  }
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
  }
  .header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a3235;
    z-index: 2;
  }
  .header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
  }
  .header__burger-catalog-wrapper {
    flex: 0 0 40px;
    display: flex;
    align-items: center;
    z-index: 3;
  }
  .header__burger-catalog-text {
    margin: 0px 0px 0px 10px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22.5px;
    color: #fff;
  }
  .header__burger-catalog {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    z-index: 3;
  }
  .header__burger-catalog span::after,
  .header__burger-catalog span::before {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    background: #fff;
  }
  .header__burger-catalog span::before {
    content: "";
    display: block;
    position: relative;
    bottom: 5px;
    left: 0;
  }
  .header__burger-catalog span {
    display: block;
    height: 1px;
    width: 100%;
    background: #fff;
  }
  .header__burger-catalog span::after {
    content: "";
    display: block;
    position: relative;
    top: 4px;
    left: 0;
  }
  .header__catalog {
    display: block;
    position: absolute;
    top: 0px;
    left: -100%;
    transition: 0.5s;
    box-shadow: -9px 5px 32px -7px rgba(0, 0, 0, 0.71);
    border-radius: 5px;
    background: #fff;
  }
  .header__catalog-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 0px 25px;
    list-style: url("../image/header/bullet.png");
  }
  .header__catalog-list li {
    padding: 10px 0px 10px 0px;
  }
  .header__catalog-list li:last-child {
    padding: 0px 0px 100px 0px;
  }
  .header__catalog-btn {
    margin: 15px 0px 10px 0px;
    width: calc(100% - 40px);
    background: #ed1a3c;
    display: flex;
    justify-content: center;
    border-radius: 3px;
  }
  .header__catalog-btn a {
    color: #fff;
    text-align: center;
  }
  .header__catalog-link {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 22.5px;
    color: #4b5c63;
  }
  .header__burger-catalog.active span::after {
    content: "";
    display: block;
    position: relative;
    top: -1px;
    transform: rotate(45deg);
  }
  .header__burger-catalog.active span {
    display: block;
    height: 0;
  }
  .header__burger-catalog.active span::before {
    content: "";
    display: block;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
  }
  .header__catalog.active {
    padding: 0px 0px 0px 0px;
    display: block;
    position: fixed;
    top: 40px;
    left: 0;
    width: 70%;
    height: 100%;
    overflow: auto;
    z-index: 3;
  }
  .header__email {
    margin: 0px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  .header__email a {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22.5px;
    color: #ed1a3c;
  }
  .header__search {
    margin: 0px 10px 0px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 3;
  }
  .header__search img {
    display: block;
    height: 16px;
    width: 16px;
  }
  .header__burger-menu-wrapper {
    flex: 0 0 40px;
    display: flex;
    align-items: center;
    z-index: 3;
  }
  .header__burger-menu-text {
    margin: 0px 10px 0px 0px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22.5px;
    color: #fff;
  }
  .header__burger-menu {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    z-index: 3;
  }
  .header__burger-menu span::after,
  .header__burger-menu span::before {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    background: #fff;
  }
  .header__burger-menu span::before {
    content: "";
    display: block;
    position: relative;
    bottom: 5px;
    left: 0;
  }
  .header__burger-menu span {
    display: block;
    height: 1px;
    width: 100%;
    background: #fff;
  }
  .header__burger-menu span::after {
    content: "";
    display: block;
    position: relative;
    top: 4px;
    left: 0;
  }
  .header__burger-menu.active span::after {
    content: "";
    display: block;
    position: relative;
    top: -1px;
    transform: rotate(45deg);
    transition: 0.2s;
  }
  .header__burger-menu.active span {
    display: block;
    height: 0;
    transition: 0.2s;
  }
  .header__burger-menu.active span::before {
    content: "";
    display: block;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    transition: 0.2s;
  }
  .header__menu {
    display: block;
    position: fixed;
    top: 0px;
    right: -100%;
    transition: 0.5s;
    box-shadow: -9px 5px 32px -7px rgba(0, 0, 0, 0.71);
    border-radius: 5px;
    background: #fff;
  }
  .header__menu-list {
    display: flex;
    flex-direction: column;
  }
  .header__menu-list li {
    list-style: url("../image/header/bullet.png");
    padding: 10px 0px 10px 0px;
  }
  .header__menu-link {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 22.5px;
    color: #4b5c63;
  }
  .header__menu.active {
    padding: 0px 0px 0px 40px;
    display: block;
    position: fixed;
    top: 40px;
    right: 0;
    width: 70%;
    height: 100%;
    overflow: auto;
    z-index: 3;
  }
  .topline {
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 40px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #edf1f2;
  }
  .topline__city::after {
    content: url("/image/header/icon-arrow-down.png");
    padding: 0px 0px 0px 10px;
    width: 12px;
    height: 8px;
  }
  .topline__city a {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.5px;
    color: #000;
  }
  .topline__cart {
    display: flex;
    align-items: center;
  }
  .topline__cart-img {
    display: flex;
  }
  .topline__cart-img img {
    display: block;
    width: 26px;
    height: auto;
  }
  .topline__cart-img span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20px;
    height: 20px;
    top: 4px;
    right: 10px;
    background: #ed1a3b;
    border-radius: 50%;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    color: #fff;
  }
  .topline__cart__sum span {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 19.5px;
    color: #000;
  }
  .section1 {
    margin: 60px 0px 0px 0px;
  }
  .section1__content {
    display: flex;
    flex-direction: column;
  }
  .section1__logo {
    margin: 0px auto;
    max-width: 240px;
  }
  .section1__logo img {
    display: block;
    width: 100%;
  }
  .section1__phone-red {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
  }
  .section1__phone-red span::before {
    content: url("/image/header/icon-phone-red.png");
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 10px 0px 0px;
  }
  .section1__phone-red span {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22.5px;
    color: #ed1a3c;
  }
  .section1__phone-black {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 10px 0px;
  }
  .section1__phone-black span::before {
    content: url("/image/header/icon-phone.png");
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 10px 0px 0px;
  }
  .section1__phone-black span {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22.5px;
    color: #000;
  }
  .section1__item {
    margin: 0px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #ed1a3c;
  }
  .section1__price::before {
    content: url("/image/header/icon-rub.png");
    display: flex;
    margin: 0px 10px 0px 0px;
  }
  .section1__price {
    display: flex;
  }
  .section1__price a {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.5px;
    color: #4c4c4c;
  }
  .section1__calc::before {
    content: url("/image/header/icon-calc.png");
    display: flex;
    margin: 0px 10px 0px 0px;
  }
  .section1__calc {
    display: flex;
  }
  .section1__calc a {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.5px;
    color: #4c4c4c;
  }
}
