*,
*:before,
after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

$fontFamily: "PT Sans", sans-serif;
@mixin fnt($fontWeight, $fontSize, $lineHeight) {
	font-family: $fontFamily;
	font-weight: $fontWeight;
	font-size: $fontSize + px;
	line-height: $lineHeight + px;
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: "PT Sans, sans-serif";
}
body.lock {
	overflow: hidden;
}
.container {
	max-width: 1180px;
	margin: 0px auto;
	padding: 0px 10px;
}
.wrapper {
	width: 100%;
}
@media (min-width: 320px) {
	body.lock {
		overflow: hidden;
	}
	.container {
		max-width: 320px;
		width: 100%;
		margin: 0px 0px 0px 0px;
		padding: 0px 10px 0px 10px;
	}
	.header {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 50;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #2a3235;
			z-index: 2;
		}
		&__body {
			position: relative;
			display: flex;
			justify-content: space-between;
			height: 40px;
			align-items: center;
		}

		&__burger-catalog-wrapper {
			flex: 0 0 40px;
			display: flex;
			align-items: center;
			z-index: 3;
		}

		&__burger-catalog-text {
			margin: 0px 0px 0px 10px;
			@include fnt(400, 14, 22.5);
			color: #fff;
		}

		&__burger-catalog {
			display: flex;
			align-items: center;
			width: 20px;
			height: 20px;
			z-index: 3;
		}
		&__burger-catalog span::after,
		&__burger-catalog span::before {
			content: "";
			display: block;
			position: relative;
			height: 1px;
			width: 100%;
			background: #fff;
		}
		&__burger-catalog span::before {
			content: "";
			display: block;
			position: relative;
			bottom: 5px;
			left: 0;
		}
		&__burger-catalog span {
			display: block;
			height: 1px;
			width: 100%;
			background: #fff;
		}
		&__burger-catalog span::after {
			content: "";
			display: block;
			position: relative;
			top: 4px;
			left: 0;
		}
		&__catalog {
			display: block;
			position: absolute;
			top: 0px;
			left: -100%;
			transition: 0.5s;
			box-shadow: -9px 5px 32px -7px rgba(0, 0, 0, 0.71);
			border-radius: 5px;
			background: #fff;
		}

		&__catalog-list {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 0px 0px 0px 25px;
			list-style: url("../image/header/bullet.png");
		}
		&__catalog-list li {
			padding: 10px 0px 10px 0px;
		}
		&__catalog-list li:last-child {
			padding: 0px 0px 60px 0px;
		}
		&__catalog-btn {
			margin: 15px 0px 10px 0px;
			width: calc(100% - 40px);
			background: #ed1a3c;
			display: flex;
			justify-content: center;
			border-radius: 3px;
		}
		&__catalog-btn a {
			color: #fff;
			text-align: center;
		}
		&__catalog-link {
			@include fnt(700, 15, 22.5);
			color: #4b5c63;
		}
		// header__catalog.active begin
		&__burger-catalog.active span::after {
			content: "";
			display: block;
			position: relative;
			top: -1px;
			transform: rotate(45deg);
		}
		&__burger-catalog.active span {
			display: block;
			height: 0;
		}
		&__burger-catalog.active span::before {
			content: "";
			display: block;
			position: relative;
			top: 0;
			transform: rotate(-45deg);
		}
		&__catalog.active {
			padding: 0px 0px 0px 0px;
			display: block;
			position: fixed;
			top: 40px;
			left: 0;
			width: 70%;
			height: 100%;
			overflow: auto;
		}
		//header__catalog.active end
		&__email {
			margin: 0px 10px 0px 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			//width: 300vw;
			z-index: 3;
		}
		&__email a {
			@include fnt(400, 14, 22.5);
			color: #ed1a3c;
		}
		&__search {
			margin: 0px 10px 0px 0px;
			display: flex;
			justify-content: center;
			width: 100%;
			z-index: 3;
		}
		&__search img {
			display: block;
			height: 16px;
			width: 16px;
		}

		&__burger-menu-wrapper {
			flex: 0 0 40px;
			display: flex;
			align-items: center;
			z-index: 3;
		}

		&__burger-menu-text {
			margin: 0px 10px 0px 0px;
			@include fnt(400, 14, 22.5);
			color: #fff;
		}

		&__burger-menu {
			display: flex;
			align-items: center;
			width: 20px;
			height: 20px;
			z-index: 3;
		}
		&__burger-menu span::after,
		&__burger-menu span::before {
			content: "";
			display: block;
			position: relative;
			height: 1px;
			width: 100%;
			background: #fff;
		}
		&__burger-menu span::before {
			content: "";
			display: block;
			position: relative;
			bottom: 5px;
			left: 0;
		}
		&__burger-menu span {
			display: block;
			height: 1px;
			width: 100%;
			background: #fff;
		}
		&__burger-menu span::after {
			content: "";
			display: block;
			position: relative;
			top: 4px;
			left: 0;
		}
		// header__burger-menu active begin
		&__burger-menu.active span::after {
			content: "";
			display: block;
			position: relative;
			top: -1px;
			transform: rotate(45deg);
			transition: 0.2s;
		}
		&__burger-menu.active span {
			display: block;
			height: 0;
			transition: 0.2s;
		}
		&__burger-menu.active span::before {
			content: "";
			display: block;
			position: relative;
			top: 0;
			transform: rotate(-45deg);
			transition: 0.2s;
		}
		//header__burger-menu active end
		&__menu {
			display: block;
			position: fixed;
			top: 0px;
			right: -100%;
			transition: 0.5s;
			box-shadow: -9px 5px 32px -7px rgba(0, 0, 0, 0.71);
			border-radius: 5px;
			background: #fff;
		}

		&__menu-list {
			display: flex;
			flex-direction: column;
		}
		&__menu-list li {
			list-style: url("../image/header/bullet.png");
			padding: 10px 0px 10px 0px;
		}
		&__menu-link {
			@include fnt(700, 15, 22.5);
			color: #4b5c63;
		}
		// menu.active
		&__menu.active {
			padding: 0px 0px 0px 40px;
			display: block;
			position: fixed;
			top: 40px;
			right: 0;
			width: 70%;
			height: 100%;
			overflow: auto;
		}
		//menu.active
	}
}
