*,
*:before,
after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

$fontFamily: "PT Sans", sans-serif;
@mixin fnt($fontWeight, $fontSize, $lineHeight) {
	font-family: $fontFamily;
	font-weight: $fontWeight;
	font-size: $fontSize + px;
	line-height: $lineHeight + px;
}
$colorRed: #ed1a3c;
$colorGray: #4c4c4c;

html,
body {
	height: 100%;
	width: 100%;
	font-family: "PT Sans, sans-serif";
}
body.lock {
	overflow: hidden;
	touch-action: none;
}
h1 {
	@include fnt(700, 28, 30);
	color: #4c4c4c;
}
input::placeholder {
	@include fnt(400, 15, 22.5);
}
.container {
	max-width: 1180px;
	margin: 0px auto;
	padding: 0px 10px;
}
.wrapper {
	width: 100%;
}
.section2 {
	padding: 20px 0px 20px 0px;
	background: #edf1f2;
	box-sizing: border-box;
	&__title {
		text-align: center;
	}
	p {
		margin: 10px 0px 10px 0px;
		@include fnt(400, 14, 22.5);
		color: $colorGray;
	}
	&__list {
		padding: 0px 0px 0px 20px;
	}
	&__list li {
		font-family: $fontFamily;
		@include fnt(400, 14, 22.5);
		color: $colorGray;
	}
}
.slider {
	display: flex;
	justify-content: center;
	margin: 20px 0px 0px 0px;
	display: flex;
	&__slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		//margin: 0px 20px 0px 20px;
		height: 100%;
		min-width: 0;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&__slide span {
		display: flex;
		position: relative;
		top: 20px;
		color: #000;
	}
	&__slide img {
		width: 100%;
	}
}
.slick-slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 380px;
}
.slick-list {
	min-height: 190px;
	margin: 0px auto;
	min-width: 0;
	//max-width: 1200px;
	width: 100%;
	overflow: hidden;
}
.slick-track {
	height: 100%;
	display: flex;
	align-items: center;
}
.slick-slide {
	margin: 0px 10px 0px 10px;
	//min-width: 100%;
	width: 100%;
}

.slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	bottom: 50px;
	list-style: none;
}
.slick-dots button {
	margin: 0px 5px 0px 5px;
	font-size: 0;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 50%;
}
.slick-active button {
	background: $colorRed;
}
@media (min-width: 320px) {
	body.lock {
		overflow: hidden;
		touch-action: none;
	}

	.container {
		min-width: 300px;
		width: 100%;
		margin: 0px 0px 0px 0px;
		padding: 0px 10px 0px 10px;
	}
	.header {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 50;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #2a3235;
			z-index: 2;
		}
		&__body {
			position: relative;
			display: flex;
			justify-content: space-between;
			height: 40px;
			align-items: center;
		}

		&__burger-catalog-wrapper {
			flex: 0 0 40px;
			display: flex;
			align-items: center;
			z-index: 3;
		}

		&__burger-catalog-text {
			margin: 0px 0px 0px 10px;
			@include fnt(400, 14, 22.5);
			color: #fff;
		}

		&__burger-catalog {
			display: flex;
			align-items: center;
			width: 20px;
			height: 20px;
			z-index: 3;
		}
		&__burger-catalog span::after,
		&__burger-catalog span::before {
			content: "";
			display: block;
			position: relative;
			height: 1px;
			width: 100%;
			background: #fff;
		}
		&__burger-catalog span::before {
			content: "";
			display: block;
			position: relative;
			bottom: 5px;
			left: 0;
		}
		&__burger-catalog span {
			display: block;
			height: 1px;
			width: 100%;
			background: #fff;
		}
		&__burger-catalog span::after {
			content: "";
			display: block;
			position: relative;
			top: 4px;
			left: 0;
		}
		&__catalog {
			display: block;
			position: absolute;
			top: 0px;
			left: -100%;
			transition: 0.5s;
			box-shadow: -9px 5px 32px -7px rgba(0, 0, 0, 0.71);
			border-radius: 5px;
			background: #fff;
		}

		&__catalog-list {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 0px 0px 0px 25px;
			list-style: url("../image/header/bullet.png");
		}
		&__catalog-list li {
			padding: 10px 0px 10px 0px;
		}
		&__catalog-list li:last-child {
			padding: 0px 0px 100px 0px;
		}
		&__catalog-btn {
			margin: 15px 0px 10px 0px;
			width: calc(100% - 40px);
			background: #ed1a3c;
			display: flex;
			justify-content: center;
			border-radius: 3px;
		}
		&__catalog-btn a {
			color: #fff;
			text-align: center;
		}
		&__catalog-link {
			@include fnt(700, 15, 22.5);
			color: #4b5c63;
		}
		// header__catalog.active begin
		&__burger-catalog.active span::after {
			content: "";
			display: block;
			position: relative;
			top: -1px;
			transform: rotate(45deg);
		}
		&__burger-catalog.active span {
			display: block;
			height: 0;
		}
		&__burger-catalog.active span::before {
			content: "";
			display: block;
			position: relative;
			top: 0;
			transform: rotate(-45deg);
		}
		&__catalog.active {
			padding: 0px 0px 0px 0px;
			display: block;
			position: fixed;
			top: 40px;
			left: 0;
			width: 70%;
			height: 100%;
			overflow: auto;
			z-index: 3;
		}
		&__time {
			display: none;
		}
		//header__catalog.active end
		&__email {
			//margin: 0px 10px 0px 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			//width: 300vw;
			z-index: 3;
		}
		&__email a {
			@include fnt(400, 14, 22.5);
			color: #ed1a3c;
		}
		&__search {
			margin: 0px 10px 0px 0px;
			display: flex;
			justify-content: center;
			z-index: 3;
		}
		// изменение стандартной формы поиска

		&__search label {
			display: none;
		}
		&__search input['submit'] {
			display: none;
		}
		&__search img {
			display: block;
			height: 16px;
			width: 16px;
		}
		&__search-block {
			display: flex;
			flex-direction: row;
			justify-content: center;
			position: absolute;
			top: -1000px;
			transition: 0.2s;
		}
		&__search-block.active {
			display: flex;
			flex-direction: row;
			justify-content: center;
			position: fixed;
			top: 40px;
			left: 0;
			height: 40px;
			width: 100%;
			background: #2a3235;
			z-index: 3;
			transition: 0.2s;
		}
		&__search-form {
			transition: 0.2s;
		}
		&__search-form.active {
			display: flex;
			justify-content: center;
			position: absolute;
			top: 0px;
			left: 0;
			width: 100%;
			//background: #fff;
		}
		&__search-form input {
			margin: 0px 0px 0px 0px;
			padding: 6px 10px 6px 50px;
			background: url("/image/header/icon-search.png") 16px center no-repeat;
			background-color: #fff;
			border-radius: 5px;
			border: 1px solid #e5e5e5;
			//box-shadow: 2px 2px 4px rgb(0 0 0 / 25%);
			border-radius: 5px;
			width: calc(100% - 20px);
		}
		&__burger-menu-wrapper {
			flex: 0 0 40px;
			display: flex;
			align-items: center;
			z-index: 3;
		}

		&__burger-menu-text {
			margin: 0px 10px 0px 0px;
			@include fnt(400, 14, 22.5);
			color: #fff;
		}

		&__burger-menu {
			display: flex;
			align-items: center;
			width: 20px;
			height: 20px;
			z-index: 3;
		}
		&__burger-menu span::after,
		&__burger-menu span::before {
			content: "";
			display: block;
			position: relative;
			height: 1px;
			width: 100%;
			background: #fff;
		}
		&__burger-menu span::before {
			content: "";
			display: block;
			position: relative;
			bottom: 5px;
			left: 0;
		}
		&__burger-menu span {
			display: block;
			height: 1px;
			width: 100%;
			background: #fff;
		}
		&__burger-menu span::after {
			content: "";
			display: block;
			position: relative;
			top: 4px;
			left: 0;
		}
		// header__burger-menu active begin
		&__burger-menu.active span::after {
			content: "";
			display: block;
			position: relative;
			top: -1px;
			transform: rotate(45deg);
			transition: 0.2s;
		}
		&__burger-menu.active span {
			display: block;
			height: 0;
			transition: 0.2s;
		}
		&__burger-menu.active span::before {
			content: "";
			display: block;
			position: relative;
			top: 0;
			transform: rotate(-45deg);
			transition: 0.2s;
		}
		//header__burger-menu active end
		&__menu {
			display: block;
			position: fixed;
			top: 0px;
			right: -100%;
			transition: 0.5s;
			box-shadow: -9px 5px 32px -7px rgba(0, 0, 0, 0.71);
			border-radius: 5px;
			background: #fff;
		}

		&__menu-list {
			display: flex;
			flex-direction: column;
		}
		&__menu-list li {
			list-style: url("../image/header/bullet.png");
			padding: 10px 0px 10px 0px;
		}
		&__menu-link {
			@include fnt(700, 15, 22.5);
			color: #4b5c63;
		}
		// menu.active
		&__menu.active {
			padding: 0px 0px 0px 40px;
			display: block;
			position: fixed;
			top: 40px;
			right: 0;
			width: 70%;
			height: 100%;
			overflow: auto;
			z-index: 3;
		}
		//menu.active end

		&__submenu-list li {
			margin: 5px 0px 0px 10px;
		}
		&__submenu-link {
			color: inherit;
		}
	}

	.topline {
		padding: 0px 10px 0px 10px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		position: relative;
		top: 40px;
		left: 0;
		width: 100%;
		height: 40px;
		background-color: #edf1f2;
		&__city {
		}
		&__city::after {
			content: url("/image/header/icon-arrow-down.png");
			padding: 0px 0px 0px 10px;
			width: 12px;
			height: 8px;
		}
		&__city a {
			@include fnt(400, 15, 22.5);
			color: #000;
		}
		&__cart {
			display: flex;
			align-items: center;
		}

		&__cart-img {
			display: flex;
		}
		&__cart-img img {
			display: block;
			width: 26px;
			height: auto;
		}
		&__cart-img span {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			width: 20px;
			height: 20px;
			top: 4px;
			right: 10px;
			background: #ed1a3b;
			border-radius: 50%;
			@include fnt(700, 13, 13);
			color: #fff;
		}
		&__cart__sum {
		}
		&__cart__sum span {
			@include fnt(700, 13, 19.5);
			color: #000;
		}
	}
	.section1 {
		margin: 60px 0px 0px 0px;
		&__content {
			display: flex;
			flex-direction: column;
			//align-items: center;
		}

		&__logo {
			margin: 0px auto;
			max-width: 240px;
		}
		&__logo img {
			display: block;
			width: 100%;
		}
		&__phone-red {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin: 10px 0px 10px 0px;
		}
		&__phone-red span::before {
			content: url("/image/header/icon-phone-red.png");
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 0px 10px 0px 0px;
		}
		&__phone-red span {
			display: flex;
			flex-direction: row;
			align-items: center;
			@include fnt(700, 18, 22.5);
			color: #ed1a3c;
		}

		&__phone-black {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin: 0px 0px 10px 0px;
		}
		&__phone-black span::before {
			content: url("/image/header/icon-phone.png");
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 0px 10px 0px 0px;
		}
		&__phone-black span {
			display: flex;
			flex-direction: row;
			align-items: center;
			@include fnt(700, 18, 22.5);
			color: #000;
		}
		&__whatsapp {
			display: none;
		}
		&__callback {
			display: none;
		}
		&__item {
			margin: 0px 0px 20px 0px;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			border-bottom: 1px solid #ed1a3c;
		}

		&__price::before {
			content: url("/image/header/icon-rub.png");
			display: flex;
			margin: 0px 10px 0px 0px;
		}
		&__price {
			display: flex;
		}
		&__price a {
			@include fnt(400, 15, 22.5);
			color: #4c4c4c;
		}
		&__calc::before {
			content: url("/image/header/icon-calc.png");
			display: flex;
			margin: 0px 10px 0px 0px;
		}

		&__calc {
			display: flex;
		}
		&__calc a {
			@include fnt(400, 15, 22.5);
			color: #4c4c4c;
		}
	}
	.content {
		padding: 0px 10px 0px 10px;
		&__row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
		}

		&__title {
		}
		&__title h1 {
			text-align: center;
			@include fnt(700, 28, 33);
		}
		&__item {
			flex: 1 0 100%;
			margin: 0px 0px 10px 0px;
			padding: 10px 10px 10px 10px;
			//max-width: 300px;
			//width: 100%;
			height: auto;
			border: 1px solid #cdcdcd;
		}

		&__item-title {
			margin: 0px 0px 5px 0px;
			@include fnt(700, 14, 22.5);
			letter-spacing: 0.3;
			color: $colorRed;
			text-transform: uppercase;
		}

		&__item-list {
			margin: 0px 0px 0px 20px;
		}
		&__item-list li::marker {
			color: $colorRed;
		}
		&__item-list li {
			list-style: square;
			padding: 0px 0px 5px 0px;
		}
		&__item-link {
			@include fnt(400, 14, 22.4);
			color: $colorGray;
		}
	}
	.section3 {
		padding: 20px 0px 20px 0px;
		background: #2a3235;
		&__title {
			text-align: center;
		}
		&__title h1 {
			color: #fff;
		}

		&__row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		&__col {
			margin: 20px 0px 20px 0px;
			flex: 1 1 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__col img {
			flex: 0 0 59px;
		}
		&__col span {
			text-align: center;
			padding: 10px 0px 0px 0px;
			color: #fff;
			@include fnt(400, 14, 22.5);
		}
	}
	.section4 {
		padding: 20px 0px 20px 0px;
		&__title {
			text-align: center;
		}
		&__row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		&__col {
			margin: 0px 0px 20px 0px;
			padding: 0px 10px 0px 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
			flex: 0 0 100%;
		}
		&__col img {
			display: block;
			width: 124px;
			height: 140px;
		}
		&__col span {
			padding: 10px 0px 10px 0px;
			@include fnt(700, 14, 22.5);
			text-align: center;
		}
		&__col span:last-child {
			padding: 10px 0px 10px 0px;
			@include fnt(400, 14, 22.5);
		}
	}
	.slick-slider {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		height: 200px;
	}
	.slick-slide {
		margin: 0px 10px 0px 10px;
		min-width: 300px;
		width: 100%;
	}
}
@media (min-width: 426px) {
	.wrapper {
		width: 100%;
	}
	.container {
		min-width: 405px;
		width: 100%;
		margin: 0px 0px 0px 0px;
		padding: 0px 10px 0px 10px;
	}
	.header {
		&__time {
			display: flex;
			flex-direction: row;
			align-items: center;
			z-index: 3;
		}
		&__time span:first-child {
			@include fnt(700, 14, 22.5);
			color: #fff;
		}
		&__time span:last-child {
			@include fnt(400, 14, 22.5);
			color: #fff;
		}
	}
	.content {
		&__row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			height: 100%;
		}

		&__item {
			margin: 0px 5px 5px 5px;
			display: flex;
			flex: 1 1 49%;
			height: 100%;
			//border: 1px solid #cdcdcd;
		}
		&__item-wrapper {
		}
	}

	.slick-slide {
		margin: 0px 10px 0px 10px;
		min-width: 400px;
		width: 100%;
	}
}
@media (min-width: 461px) {
	.wrapper {
		width: 100%;
	}
	.container {
		min-width: 440px;
		width: 100%;
		margin: 0px 0px 0px 0px;
		padding: 0px 10px 0px 10px;
	}
	.section1 {
		&__content-row {
			display: flex;
			flex-direction: row;
		}
		&__content-col {
			display: flex;
			flex-direction: column;
			align-items: center;
			flex: 0 0 49.99%;
		}
		&__phone-black {
			margin: 10px 0px 10px 0px;
		}
		&__price {
			margin: 10px 0px 10px 0px;
		}
		&__whatsapp::before {
			content: url("/image/header/icons8-whatsapp.svg");
			display: flex;
			align-items: center;
			margin: 0px 10px 0px 0px;
			width: 20px;
			height: 20px;
		}
		&__whatsapp {
			display: flex;
			align-items: center;
		}
		&__whatsapp a {
			@include fnt(700, 15, 22.5);
			color: #4caf50;
		}
		&__callback {
			display: flex;
		}
		&__callback a {
			@include fnt(400, 15, 22.5);
			color: $colorGray;
			text-decoration: underline;
		}
	}
	.content {
		&__row {
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
			min-width: 460px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			height: 100%;
			width: 100%;
		}

		&__item {
			margin: 5px 5px 5px 5px;
			padding: 0px 0px 0px 0px;
			flex: 1 1 33.33%;
			display: flex;
			height: 100%;
			//border: 1px solid #cdcdcd;
		}
		&__item-wrapper {
		}
		&__item-title {
			padding: 0px 0px 0px 10px;
		}
		&__item-list {
			padding: 0px 0px 0px 25px;
			margin: 0px 0px 0px 0px;
		}
	}
	.slick-slider {
		height: 230px;
	}
}
@media (min-width: 640px) {
	.wrapper {
		width: 100%;
	}
	.container {
		min-width: 620px;
		width: 100%;
		margin: 0px 0px 0px 0px;
		padding: 0px 10px 0px 10px;
	}

	.content {
		&__row {
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
			min-width: 460px;

			height: 100%;
			width: 100%;
		}

		&__item {
			margin: 5px 5px 5px 5px;
			padding: 0px 0px 0px 0px;
			flex: 0 1 30%;
			display: flex;
			height: 100%;
			//border: 1px solid #cdcdcd;
		}
		&__item-wrapper {
		}
		&__item-title {
			padding: 0px 0px 0px 10px;
		}
		&__item-list {
			padding: 0px 0px 0px 25px;
			margin: 0px 0px 0px 0px;
		}
	}
	.section3 {
		padding: 20px 0px 20px 0px;
		background: #2a3235;
		&__title {
			text-align: center;
		}
		&__title h1 {
			color: #fff;
		}

		&__row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		&__col {
			margin: 20px 0px 20px 0px;
			flex: 0 1 33.33%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__col img {
			flex: 0 0 59px;
		}
		&__col span {
			text-align: center;
			padding: 10px 0px 0px 0px;
			color: #fff;
			@include fnt(400, 14, 22.5);
		}
	}
	.section4 {
		&__col {
			margin: 0px 0px 20px 0px;
			padding: 0px 10px 0px 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
			flex: 0 0 50%;
		}
	}
	.slick-slider {
		height: 330px;
	}
	.slick-list {
		min-height: 300px;
		margin: 0px auto;
		min-width: 0;
		max-width: 1200px;
	}
}
@media (min-width: 800px) {
	.container {
		min-width: 780px;
		width: 100%;
		margin: 0px 0px 0px 0px;
		padding: 0px 10px 0px 10px;
	}
	.header {
		&__search {
			display: flex;
			align-items: center;
			position: static;
			max-width: 260px;
			height: 38px;
			width: 100%;
			z-index: 3;
		}
		&__search img {
			display: none;
		}
		&__search-block {
			display: flex;
			flex-direction: row;
			justify-content: center;
			position: static;
			transition: 0.2s;
			z-index: 3;
			width: 100%;
		}
		&__search-form {
			display: flex;
			width: 100%;
			z-index: 3;
			transition: 0.2s;
		}
		&__search-form input {
			margin: 0px 0px 0px 0px;
			padding: 6px 10px 6px 50px;
			background: url("/image/header/icon-search.png") 16px center no-repeat;
			background-color: #fff;
			border-radius: 5px;
			border: 1px solid #e5e5e5;
			//box-shadow: 2px 2px 4px rgb(0 0 0 / 25%);
			border-radius: 5px;
			//width: calc(100% - 20px);
			width: 100%;
		}
	}
	.section1 {
		border-bottom: 1px solid #ed1a3c;
		.header {
			&__search {
			}
		}
		&__content-row {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
		}
		&__content-col {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			flex: 0 1 24.999%;
		}
		&__content-col:first-child {
			margin: 0px 10px 0px 0px;
		}
		&__phone-red,
		&__phone-black {
			margin: 0px 0px 8px 0px;
		}
	}
	.content {
		&__row {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			flex-wrap: wrap;
			height: 100%;
		}

		&__item {
			margin: 5px 5px 5px 5px;
			flex: 0 1 23%;
			display: flex;
			height: 100%;
			//border: 1px solid #cdcdcd;
		}
	}
	.section4 {
		&__col {
			margin: 0px 0px 20px 0px;
			padding: 0px 10px 0px 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
			flex: 0 0 25%;
		}
	}
}
@media (min-width: 1024px) {
	.container {
		min-width: 1004px;
		width: 100%;
		margin: 0px 0px 0px 0px;
		padding: 0px 10px 0px 10px;
	}
	.section1 {
		margin: 10px 0px 10px 0px;
		border: 0;
		&__content-col:nth-child(4) {
			display: flex;
			flex-direction: column;
		}
		&__content-col:last-child {
			flex: 0 1 auto;
		}
		&__price {
			margin: 0px 0px 0px 0px;
		}
	}

	.topline {
		display: block;
		position: static;
		background-color: #fff;
		height: 48px;
		&__row {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			height: 100%;
		}

		&__col:nth-child(2) {
			flex: 1 0 50%;
		}
		&__col:first-child {
			flex: 1 0 20%;
			display: flex;
			justify-content: center;
		}
		&__col:last-child {
			flex: 1 0 30%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
		}
		&__cart-sum {
			display: flex;
			flex-direction: column;
		}
		&__cart-text {
			@include fnt(400, 15, 22.5);
			color: $colorGray;
		}
	}

	.header {
		display: block;
		position: static;
		height: 48px;
		width: 100%;
		background: $colorRed;
		&:before {
			content: "";
			display: none;
		}
		&__body {
			display: block;
			position: static;
			height: 100%;
			width: 100%;
		}

		&__burger-catalog-wrapper,
		&__burger-menu-wrapper {
			display: none;
		}

		&__time {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		&__time span:first-child::before {
			content: url("/image/header/icon-time.png");
			margin: 0px 10px 0px 0px;
			display: flex;
			align-items: center;
			position: relative;
			top: 2px;
			width: 20px;
			height: 20px;
		}
		&__time span:first-child,
		&__time span:last-child {
			display: flex;
			align-items: center;
			@include fnt(400, 15, 22.5);
			color: $colorGray;
		}
		&__time span:first-child {
			padding: 0px 5px 0px 0px;
		}

		&__email::before {
			content: url("/image/header/icon-email.png");
			margin: 0px 10px 0px 0px;
			display: flex;
			flex-direction: row;
			align-items: center;
			position: relative;
			top: 2px;
			width: 20px;
			height: 20px;
		}
		&__email {
			margin: 10px 0px 0px 0px;
			display: flex;
			justify-content: center;
			align-items: center;
			//width: 300vw;
			//z-index: 3;
		}
		&__email a {
			@include fnt(400, 15, 22.5);
			color: $colorGray;
		}
		/* burger-menu
		&__burger-menu-text {
			margin: 0px 10px 0px 0px;
			@include fnt(400, 14, 22.5);
			color: #fff;
		}

		&__burger-menu {
			display: flex;
			align-items: center;
			width: 20px;
			height: 20px;
			z-index: 3;
		}
		&__burger-menu span::after,
		&__burger-menu span::before {
			content: "";
			display: block;
			position: relative;
			height: 1px;
			width: 100%;
			background: #fff;
		}
		&__burger-menu span::before {
			content: "";
			display: block;
			position: relative;
			bottom: 5px;
			left: 0;
		}
		&__burger-menu span {
			display: block;
			height: 1px;
			width: 100%;
			background: #fff;
		}
		&__burger-menu span::after {
			content: "";
			display: block;
			position: relative;
			top: 4px;
			left: 0;
		}
		// header__burger-menu active begin
		&__burger-menu.active span::after {
			content: "";
			display: block;
			position: relative;
			top: -1px;
			transform: rotate(45deg);
			transition: 0.2s;
		}
		&__burger-menu.active span {
			display: block;
			height: 0;
			transition: 0.2s;
		}
		&__burger-menu.active span::before {
			content: "";
			display: block;
			position: relative;
			top: 0;
			transform: rotate(-45deg);
			transition: 0.2s;
		}
		//header__burger-menu active end
*/
		&__menu {
			position: inherit;
			transition: none;
			box-shadow: none;
			border-radius: 0;
			height: 48px;
			background: none;
		}

		&__menu-list {
			padding: 1px 0px 1px 0px;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			height: 100%;
		}
		&__menu-list li {
			display: flex;
			align-items: center;
			list-style: none;
			margin: 0px 0px 0px 0px;
			padding: 0px 10px 0px 10px;
			height: 100%;
			position: relative;
		}
		&__menu-list li:hover {
			background: #fff;
			//padding: 0px 10px 0px 10px;
			//@include fnt(400, 15, 22.5);

			text-transform: uppercase;
			color: $colorRed;
		}
		&__menu-list li:hover a {
			color: inherit;
		}
		&__menu-link {
			@include fnt(400, 15, 22.5);
			font-weight: 400;
			//font-size: 1.6vh;

			text-transform: uppercase;
			color: #fff;
		}

		&__menu-list &__submenu-list li a {
			color: $colorGray;
			text-transform: none;
		}
		&__menu-list li:hover &__submenu-list {
			display: flex;
		}
		&__submenu-list:hover {
			display: flex;
		}
		&__submenu-list {
			border-top: 1px solid $colorRed;
			display: none;
			flex-direction: column;
			position: absolute;
			top: 46px;
			left: 0;
			z-index: 10;
			background: #fff;
			//width: 100%;
		}
		&__submenu-list li {
			min-width: 200px;
			width: 100%;
			height: 40px;
			transition: 0.2s;
		}
		&__submenu-list li:hover a {
		}
		&__submenu-list li a {
			color: $colorGray;
			text-transform: uppercase;
			width: 100%;
		}
		&__submenu-list li:hover {
			background: rgb(202, 199, 199);
			border-left: 3px solid $colorRed;
			transition: 0.2s;
		}

		&__search {
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
			height: 40px;
			max-width: 500px;
			width: 100%;
		}
		&__search-block {
			height: 100%;
		}
		&__search-form {
			box-shadow: 4px 4px 41px -8px rgba(0, 0, 0, 0.25);
		}
	}
	.content {
		&__row {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			flex-wrap: wrap;
			height: 100%;
		}

		&__item {
			margin: 5px 5px 5px 5px;
			flex: 0 1 19%;
			display: flex;
			height: 100%;
		}
	}
	.slick-slider {
		height: 330px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1180px;
		margin: 0px auto;
		width: 100%;
		padding: 0px 10px 0px 10px;
	}
}
