*,
*:before,
after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

$fontFamily: "PT Sans", sans-serif;
@mixin fnt($fontWeight, $fontSize, $lineHeight) {
	font-family: $fontFamily;
	font-weight: $fontWeight;
	font-size: $fontSize + px;
	line-height: $lineHeight + px;
}
$colorRed: #ed1a3c;
$colorGray: #4c4c4c;

html,
body {
	height: 100%;
	width: 100%;
	font-family: "PT Sans, sans-serif";
}
body.lock {
	overflow: hidden;
	touch-action: none;
}
h1 {
	@include fnt(700, 28, 30);
	color: #4c4c4c;
}

.container {
	max-width: 1180px;
	margin: 0px auto;
	padding: 0px 10px;
}
.wrapper {
	width: 100%;
}
@media (min-width: 320px) {
	body.lock {
		overflow: hidden;
		touch-action: none;
	}

	.container {
		min-width: 300px;
		width: 100%;
		margin: 0px 0px 0px 0px;
		padding: 0px 10px 0px 10px;
	}
	.header {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 50;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #2a3235;
			z-index: 2;
		}
		&__body {
			position: relative;
			display: flex;
			justify-content: space-between;
			height: 40px;
			align-items: center;
		}

		&__burger-catalog-wrapper {
			flex: 0 0 40px;
			display: flex;
			align-items: center;
			z-index: 3;
		}

		&__burger-catalog-text {
			margin: 0px 0px 0px 10px;
			@include fnt(400, 14, 22.5);
			color: #fff;
		}

		&__burger-catalog {
			display: flex;
			align-items: center;
			width: 20px;
			height: 20px;
			z-index: 3;
		}
		&__burger-catalog span::after,
		&__burger-catalog span::before {
			content: "";
			display: block;
			position: relative;
			height: 1px;
			width: 100%;
			background: #fff;
		}
		&__burger-catalog span::before {
			content: "";
			display: block;
			position: relative;
			bottom: 5px;
			left: 0;
		}
		&__burger-catalog span {
			display: block;
			height: 1px;
			width: 100%;
			background: #fff;
		}
		&__burger-catalog span::after {
			content: "";
			display: block;
			position: relative;
			top: 4px;
			left: 0;
		}
		&__catalog {
			display: block;
			position: absolute;
			top: 0px;
			left: -100%;
			transition: 0.5s;
			box-shadow: -9px 5px 32px -7px rgba(0, 0, 0, 0.71);
			border-radius: 5px;
			background: #fff;
		}

		&__catalog-list {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 0px 0px 0px 25px;
			list-style: url("../image/header/bullet.png");
		}
		&__catalog-list li {
			padding: 10px 0px 10px 0px;
		}
		&__catalog-list li:last-child {
			padding: 0px 0px 100px 0px;
		}
		&__catalog-btn {
			margin: 15px 0px 10px 0px;
			width: calc(100% - 40px);
			background: #ed1a3c;
			display: flex;
			justify-content: center;
			border-radius: 3px;
		}
		&__catalog-btn a {
			color: #fff;
			text-align: center;
		}
		&__catalog-link {
			@include fnt(700, 15, 22.5);
			color: #4b5c63;
		}
		// header__catalog.active begin
		&__burger-catalog.active span::after {
			content: "";
			display: block;
			position: relative;
			top: -1px;
			transform: rotate(45deg);
		}
		&__burger-catalog.active span {
			display: block;
			height: 0;
		}
		&__burger-catalog.active span::before {
			content: "";
			display: block;
			position: relative;
			top: 0;
			transform: rotate(-45deg);
		}
		&__catalog.active {
			padding: 0px 0px 0px 0px;
			display: block;
			position: fixed;
			top: 40px;
			left: 0;
			width: 70%;
			height: 100%;
			overflow: auto;
			z-index: 3;
		}
		&__time {
			display: none;
		}
		//header__catalog.active end
		&__email {
			margin: 0px 10px 0px 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			//width: 300vw;
			z-index: 3;
		}
		&__email a {
			@include fnt(400, 14, 22.5);
			color: #ed1a3c;
		}
		&__search {
			margin: 0px 10px 0px 0px;
			display: flex;
			justify-content: center;
			z-index: 3;
		}
		&__search img {
			display: block;
			height: 16px;
			width: 16px;
		}

		&__burger-menu-wrapper {
			flex: 0 0 40px;
			display: flex;
			align-items: center;
			z-index: 3;
		}

		&__burger-menu-text {
			margin: 0px 10px 0px 0px;
			@include fnt(400, 14, 22.5);
			color: #fff;
		}

		&__burger-menu {
			display: flex;
			align-items: center;
			width: 20px;
			height: 20px;
			z-index: 3;
		}
		&__burger-menu span::after,
		&__burger-menu span::before {
			content: "";
			display: block;
			position: relative;
			height: 1px;
			width: 100%;
			background: #fff;
		}
		&__burger-menu span::before {
			content: "";
			display: block;
			position: relative;
			bottom: 5px;
			left: 0;
		}
		&__burger-menu span {
			display: block;
			height: 1px;
			width: 100%;
			background: #fff;
		}
		&__burger-menu span::after {
			content: "";
			display: block;
			position: relative;
			top: 4px;
			left: 0;
		}
		// header__burger-menu active begin
		&__burger-menu.active span::after {
			content: "";
			display: block;
			position: relative;
			top: -1px;
			transform: rotate(45deg);
			transition: 0.2s;
		}
		&__burger-menu.active span {
			display: block;
			height: 0;
			transition: 0.2s;
		}
		&__burger-menu.active span::before {
			content: "";
			display: block;
			position: relative;
			top: 0;
			transform: rotate(-45deg);
			transition: 0.2s;
		}
		//header__burger-menu active end
		&__menu {
			display: block;
			position: fixed;
			top: 0px;
			right: -100%;
			transition: 0.5s;
			box-shadow: -9px 5px 32px -7px rgba(0, 0, 0, 0.71);
			border-radius: 5px;
			background: #fff;
		}

		&__menu-list {
			display: flex;
			flex-direction: column;
		}
		&__menu-list li {
			list-style: url("../image/header/bullet.png");
			padding: 10px 0px 10px 0px;
		}
		&__menu-link {
			@include fnt(700, 15, 22.5);
			color: #4b5c63;
		}
		// menu.active
		&__menu.active {
			padding: 0px 0px 0px 40px;
			display: block;
			position: fixed;
			top: 40px;
			right: 0;
			width: 70%;
			height: 100%;
			overflow: auto;
			z-index: 3;
		}
		//menu.active end
	}
	.topline {
		padding: 0px 10px 0px 10px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		position: relative;
		top: 40px;
		left: 0;
		width: 100%;
		height: 40px;
		background-color: #edf1f2;
		&__city {
		}
		&__city::after {
			content: url("/image/header/icon-arrow-down.png");
			padding: 0px 0px 0px 10px;
			width: 12px;
			height: 8px;
		}
		&__city a {
			@include fnt(400, 15, 22.5);
			color: #000;
		}
		&__cart {
			display: flex;
			align-items: center;
		}

		&__cart-img {
			display: flex;
		}
		&__cart-img img {
			display: block;
			width: 26px;
			height: auto;
		}
		&__cart-img span {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			width: 20px;
			height: 20px;
			top: 4px;
			right: 10px;
			background: #ed1a3b;
			border-radius: 50%;
			@include fnt(700, 13, 13);
			color: #fff;
		}
		&__cart__sum {
		}
		&__cart__sum span {
			@include fnt(700, 13, 19.5);
			color: #000;
		}
	}
	.section1 {
		margin: 60px 0px 0px 0px;
		&__content {
			display: flex;
			flex-direction: column;
			//align-items: center;
		}

		&__logo {
			margin: 0px auto;
			max-width: 240px;
		}
		&__logo img {
			display: block;
			width: 100%;
		}
		&__phone-red {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin: 10px 0px 10px 0px;
		}
		&__phone-red span::before {
			content: url("/image/header/icon-phone-red.png");
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 0px 10px 0px 0px;
		}
		&__phone-red span {
			display: flex;
			flex-direction: row;
			align-items: center;
			@include fnt(700, 18, 22.5);
			color: #ed1a3c;
		}

		&__phone-black {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin: 0px 0px 10px 0px;
		}
		&__phone-black span::before {
			content: url("/image/header/icon-phone.png");
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 0px 10px 0px 0px;
		}
		&__phone-black span {
			display: flex;
			flex-direction: row;
			align-items: center;
			@include fnt(700, 18, 22.5);
			color: #000;
		}
		&__item {
			margin: 0px 0px 20px 0px;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			border-bottom: 1px solid #ed1a3c;
		}

		&__price::before {
			content: url("/image/header/icon-rub.png");
			display: flex;
			margin: 0px 10px 0px 0px;
		}
		&__price {
			display: flex;
		}
		&__price a {
			@include fnt(400, 15, 22.5);
			color: #4c4c4c;
		}
		&__calc::before {
			content: url("/image/header/icon-calc.png");
			display: flex;
			margin: 0px 10px 0px 0px;
		}

		&__calc {
			display: flex;
		}
		&__calc a {
			@include fnt(400, 15, 22.5);
			color: #4c4c4c;
		}
	}
	.content {
		padding: 0px 10px 0px 10px;
		&_row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
		}

		&__title {
		}
		&__title h1 {
			text-align: center;
			@include fnt(700, 28, 33);
		}
		&__item {
			flex: 1 0 100%;
			margin: 0px 0px 10px 0px;
			padding: 10px 10px 10px 10px;
			//max-width: 300px;
			//width: 100%;
			height: auto;
			border: 1px solid #cdcdcd;
		}

		&__item-title {
			margin: 0px 0px 0px 0px;
			@include fnt(700, 14, 22.5);
			letter-spacing: 0.3;
			color: $colorRed;
			text-transform: uppercase;
		}

		&__item-list {
			margin: 0px 0px 0px 20px;
		}
		&__item-list li::marker {
			color: $colorRed;
		}
		&__item-list li {
			list-style: square;
			padding: 0px 0px 5px 0px;
		}
		&__item-link {
			@include fnt(400, 14, 22.4);
			color: $colorGray;
		}
	}
}
@media (min-width: 425px) {
	.container {
		min-width: 425px;
		width: 100%;
		margin: 0px 0px 0px 0px;
		padding: 0px 10px 0px 10px;
	}
	.header {
		&__time {
			display: flex;
			flex-direction: row;
			align-items: center;
			z-index: 3;
		}
		&__time span:first-child {
			@include fnt(700, 14, 22.5);
			color: #fff;
		}
		&__time span:last-child {
			@include fnt(400, 14, 22.5);
			color: #fff;
		}
	}
	.content {
		&_row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
		}
		&__item {
			max-width: calc(49% - 10px);
			margin: 5px 5px 5px 5px;
			padding: 10px 10px 10px 10px;

			height: auto;
			border: 1px solid #cdcdcd;
		}
	}
}
